configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];

  display-combi: "Search";

  font: "JetBrainsMono Nerd Font 10";
}

@theme "paper-float"

window {
  border: 0px;
  width: 512;
  y-offset: -30%;
}
