<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="root-menu" label="Openbox 3">
		<separator label="Favorites" />
		<item label="Terminal">
			<action name="Execute">
		  		<command>alacritty</command>
			</action>
	  	</item>
	  	<item label="Browser">
			<action name="Execute">
		  		<command>flatpak run com.microsoft.EdgeDev</command>
			</action>
	  	</item>
		<item label="Files">
			<action name="Execute">
		  		<command>spacefm</command>
			</action>
	  	</item>
	  	<item label="Screenshot">
			<action name="Execute">
		  		<command>flameshot gui</command>
			</action>
	  	</item>

	  	<separator label="Openbox" />
	  	<item label="Restart">
			<action name="restart"/>
	  	</item>
	  	<item label="Log out">
			<action name="exit"/>
	  	</item>
	</menu>
</openbox_menu>
