#tabbrowser-tabbox {
  box-shadow: none !important;
  outline: none !important;
}

#tabbrowser-tabpanels {
  border-radius: 10px !important;
  box-shadow: 0 2px 6px 0 light-dark(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  overflow: hidden;
}
